<h1><%= @restaurant.name %></h1>
<p> <%= @restaurant.address %> || <%= @restaurant.phone_number %> </p>

<% @restaurant.reviews.each do |review| %>
  <h4> <%= review.content %> </h4>
  <p> Rating of: <%= review.rating %> </p>
  <%= button_to "Delete Review", review, :method => "delete" %>
<% end %>

<%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back To Restaurants", restaurants_path(@restaurants) %>
<%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"} %>


