 <div class="header-show">
   <h2><%= @restaurant.name %></h2>
 </div>
<div class="restaurant-details">
   <p> <%= @restaurant.address %> || <%= @restaurant.phone_number %> </p>
   <%= link_to "Back To Restaurants", restaurants_path(@restaurants), class: 'btn btn-outline-primary' %>
   <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: 'btn btn-outline-secondary' %>
</div>
<hr>
<div class="card-show">
  <% @restaurant.reviews.each do |review| %>
    <h4 class="card-white"> <%= review.content %> </h4>
    <p style="text-align: center;"> Rating: <%= review.rating %> stars </p>
    <div id="delete-icon">
      <%= link_to "", review, method: :delete, class: 'fas fa-trash' %>
    </div>
  <% end %>
</div>



